@model IEnumerable<MarketSummaryWeb.Models.ProspectSearchCriteria>
@{
    ViewBag.Title = "List of Prospects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>List of Prospects</h2>
<p>
    @Html.ActionLink("Create New", "CreateProspectSearchCriteria") |  @Html.ActionLink("Run Prospect Analysis", "RunProspectAnalysis") |     @Html.ActionLink("View Report", "ViewReport")    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProspectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchString)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProspectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchString)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditProspectSearchCriteria", new { id = item.Id, Rowkey = item.RowKey ,PartitionKey = item.PartitionKey }) |
                @* @Html.ActionLink("Details", "Details", new { id = item.Id, category = item.ProspectName }) |*@
                @Html.ActionLink("Delete", "DeleteProspectSearchCriteria", new { id = item.Id, Rowkey = item.RowKey })
            </td>
        </tr>
    }
</table>

